.pagenotfound {
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .pagenotfound {
    min-height: calc(100vh - 155px);
    img {
      height: 200px;
    }
  }
}
