nav {
  background: #313185;
  position: fixed !important;
  z-index: 10;
    top: 0;
  a.logo {
    color: #fff !important;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
  }
  .navbar-nav {
    align-items: center;
    a {
        color: white !important;
        text-decoration: none;
      &.nav-link {
        color: white !important;
        margin-left: 10px;
      }
      button.login {
        background-color: #e91e63;
        font-size: 14px !important;
        margin: 2px 0;
        margin-bottom: 0;
        border: none;
        padding: 5px 30px;
        color: white;
      }

      button.register {
        background-color: transparent;
        font-size: 14px !important;
        margin: 2px 0;
        margin-bottom: 0;
        border: none;
        padding: 5px 30px;
        color: white;
        border: 1px solid white;
      }
    }
  }
}
